.contact_form {
  legend {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: 5px 0;
    text-transform: uppercase;
  }
}
.input_wrapper {
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 5px;
  text-align: center;
  &.input_inline {
    width: 50%;
  }
  input {
    width: 100%;
    background: #F3F3F3;
    font-size: 14px;
    color: #333;
    padding: 10px;
    font-family: $helvetica;
    font-weight: 200;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    &:focus {
      border-color: #666;
    }
  }
  button {
    margin: 5px 0 0;
    border: none;
    background: #A8A8A8;
    padding: 10px 20px;
    font-size: 12px;
    color: #fff;
  }
}
.map_image {
  margin: 10px 0;
  padding: 0 10px;
  a {
    display: block;
    border: 1px solid #dcdcdc;
    width: 100%;
    box-sizing: border-box;
    img {
      width: 100%;
      max-width: 100%;
      display: block;
    }
  }
}
.contact_info {
  margin: 10px 0;
  padding: 0 10px;
  p {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 12px;
  }
}
.contact_social {
  text-align: center;
  a {
    display: inline-block;
    margin:0 0 8px 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: center;
    &.facebook {
      background-image: url(//static.squarespace.com/static/536934b6e4b0c3ef16a97e35/t/53d520d6e4b03aa34502d4cc/1406476504137/?format=1500w);
    }
    &.linkedin {
      background-image: url(//static.squarespace.com/static/536934b6e4b0c3ef16a97e35/t/53d520fde4b03aa34502d505/1406476546243/?format=750w);
    }
    &.twitter {
      background-image: url(//static.squarespace.com/static/536934b6e4b0c3ef16a97e35/t/53d520ebe4b0c3fee1f68387/1406476529382/?format=1000w);
    }
    &:hover, &:active, &:focus {
      background-color: scale-lightness(#000, 20%);
    }
  }
}
