.faith_content {
  position: relative;
  p {
    padding: 0 8px;
  }
}
.faith_social {
  position: absolute;
  top: 5%;
  right: 10px;
  a {
    display: block;
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: center;
    &.facebook {
      background-image: url(//static.squarespace.com/static/536934b6e4b0c3ef16a97e35/t/53d520d6e4b03aa34502d4cc/1406476504137/?format=1500w);
    }
    &.linkedin {
      background-image: url(//static.squarespace.com/static/536934b6e4b0c3ef16a97e35/t/53d520fde4b03aa34502d505/1406476546243/?format=750w);
    }
    &.twitter {
      background-image: url(//static.squarespace.com/static/536934b6e4b0c3ef16a97e35/t/53d520ebe4b0c3fee1f68387/1406476529382/?format=1000w);
    }
    &:hover, &:active, &:focus {
      background-color: scale-lightness(#000, 20%);
    }
  }
}
.faith_title {
  background-image: image-url('//luke-aiello-5cnl.squarespace.com/assets/images/faith.jpg');
  background-position: left -70px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px 10px 5px;
  h2 {
    font-size: 3rem;
    color: #fff;
    font-family: $helvetica;
    font-weight: 200;
    line-height: 0.9;
    margin-bottom: 0;
    letter-spacing: -0.5px;
  }
  h3 {
    font-size: 3rem;
    font-family: $helvetica-bold;
    font-weight: 600;
    color: $primary-blue;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 0.9;
  }
}
.faith_press {
  padding: 5px;
  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}
.ask_faith_heading {
  font-family: $helvetica;
  font-weight: 200;
  padding: 0 8px;
  font-size: 24px;
}
.videos {
  overflow: hidden;
}
.video {
  @include box-sizing(border-box);
  padding: 5px;
  width: 50%;
  float: left;
  .poster {
    display: block;
    width: 100%;
    padding-top: 75%;
    position: relative;
    img {
      position: absolute;
      display: block;
      width: 100%;
      max-width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  h2 {
    font-family: $helvetica-bold;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  h3 {
    font-family: $helvetica;
    font-size: 12px;
    font-weight: 200;
  }
}
