@font-face {
  font-family: 'Gotham-Bold';
  src: url('//static.squarespace.com/static/536934b6e4b0c3ef16a97e35/t/53d3eb9de4b0f70dee8dda46/1406397341024/Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('//static.squarespace.com/static/536934b6e4b0c3ef16a97e35/t/53d3eb9de4b0f70dee8dda46/1406397341024/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//static.squarespace.com/static/536934b6e4b0c3ef16a97e35/t/53d3eb9de4b0f70dee8dda46/1406397341024/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
       url('http://static.squarespace.com/static/536934b6e4b0c3ef16a97e35/t/53d3eb9de4b0f70dee8dda46/1406397341024/Gotham-Bold.otf')  format('truetype') /* Safari, Android, iOS */
}

// COLORS
$primary-blue: #27E3FC;
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$helvetica-bold: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$gotham: 'Gotham-Bold', sans-serif;

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* Forms
========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
* Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
/**
* Address `overflow` set to `hidden` in IE 8/9/10/11.
*/
button {
  overflow: visible;
}
/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none;
}
/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
* and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
* `input` and others.
*/
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


html {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
strong {
  font-weight: 600;
  font-family: $helvetica-bold;
}
a {
  color: $primary-blue;
  &:hover, &:active, &:focus {
    color: scale-lightness($primary-blue, 30%);
  }
}
h1,h2,h3,h4,h5,h6,legend {
    font-family: $gotham;
    margin-bottom: 1em;
}
p {
    margin-bottom: 1em;
}
.right {
    float: right;
}
.left {
    float: left;
}
.main {
  font-family: $helvetica;
  padding: 35px 0 27px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  line-height: 1.4;
}
.header {
  background: #fff;
  position: fixed;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 2px 5px;
  border-bottom: 1px solid #000;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  z-index: 10;
}
.header_heading {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}
.menu_icon {
  float: right;
  width: 20px;
  padding: 4px 0 0;
  img {
    max-width: 100%;
    vertical-align: bottom;
  }
  &:hover, &:active, &:focus {
    opacity: 0.8;
  }
}
.main_nav {
  padding: 5% 0 0;
}
.nav_list {
  > li {
    a {
      display: block;
      color: #000;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      margin-bottom: 1px;
      font-size: 1.85rem;
      font-family: $helvetica;
      font-weight: 200;
      letter-spacing: -0.5px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      &:hover, &:active, &:focus {
        font-family: $helvetica-bold;
        font-weight: 600;
      }
    }
  }
}
.brain_icon {
  float: left;
  width: 30px;
  img {
    max-width: 100%;
    vertical-align: bottom;
  }
}
.footer {
  background: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid #000;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  z-index: 10;
}
.footer_heading {
  text-align: center;
  letter-spacing: 2px;
  padding: 3px 0;
  font-size: 0.875rem;
  margin-bottom: 0;
}
.thumbnail {
  float: left;
  width: 34%;
  padding-top: 34%;
  margin: 10px 8%;
  border-radius: 50%;
  box-shadow: 0px 5px 10px 0px rgba(50,50,50,.75);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover, &:active, &:focus {
    box-shadow: 0 5px 5px 0 rgba(50,50,50,.75);
  }
}
.scroll_hint {
    position: fixed;
    width: 24px;
    height: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: no-repeat url('//luke-aiello-5cnl.squarespace.com/assets/images/arrows.png');
    background-size: 100% 200%;
    opacity: 0.7;
    &.up {
        top: 39px;
    }
    &.down {
        bottom: 30px;
        background-position: bottom;
    }
}
