.home {
  min-height: 100%;
}
.home_intro {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.introFooter{
    position:absolute;
    bottom: 50px;
    width: 100%;
    text-align:center;
    font-size: 20px;
    color: #999999;
}
.introActionText{
    display: inline-block;
    vertical-align: middle;
}
.introActionArrow{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background: no-repeat center url('/assets/images/arrow_button.png');
    background-size: 100%;
}
.enter_home {
  position: absolute;
  width: 100%;
  height: 320px;
  left: 0;
  top: 50%;
  margin-top: -180px;
  background: no-repeat center url('//luke-aiello-5cnl.squarespace.com/assets/images/home_text.png');
  background-size: contain;
  &:hover, &:active, &:focus {
    opacity: 0.8;
  }
}
.full_site {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 30px;
  left: 0;
  color: #000;
  font-family: $gotham;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: scale-lightness(#000, 20%);
  }
}
.slide {
  img {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (min-width : 321px) {
    .home_intro{
        height: 467px;
    }
}
