.team_content {
  padding: 0 20px;
  .thumbnail {
    background-image: url("//static.squarespace.com/static/536934b6e4b0c3ef16a97e35/t/53e28424e4b035b076bbfe82/1407353897582/portraits_2.png?format=1500w&storage=local");
  }
}
.team_headline {
  text-transform: uppercase;
  font-size: 36px;
}
.team_description {
  font-size: 14px;
  line-height: 1.3;
}
.team_intro {
  .thumbnail {
    background-size: 700% auto;
    &.ted {
      background-position: -2px -26px;
    }
    &.tiana {
      background-position: -146px -26px;
    }
    &.kathleen {
      background-position: -286px -26px;
    }
    &.kate {
      background-position: -432px -26px;
    }
    &.billie {
      background-position: -568px -26px;
    }
    &.ron {
      background-position: -5px -176px;
    }
    &.nyla {
      background-position: -147px -176px;
    }
    &.janet {
      background-position: -288px -176px;
    }
    &.pamela {
      background-position: -436px -176px;
    }
    &.michele {
      background-position: -568px -176px;
    }
    &.marc {
      background-position: -12px -332px;
    }
    &.clare {
      background-position: -146px -332px;
    }
    &.luke {
      background-position: -287px -332px;
    }
    &.phoebe {
      background-position: -430px -332px;
    }
    &.andy {
      background-position: -568px -332px;
    }
    &.lynda {
      background-position: -5px -496px;
    }
    &.ali {
      background-position: -146px -496px;
    }
    &.anthony {
      background-position: -430px -496px;
    }
    &.stephanie {
      background-position: -8px -650px;
    }
    &.marykay {
      background-position: -146px -650px;
    }
    &.megan {
      background-position: -290px -650px;
    }
  }
}
.team_bios {
  .thumbnail {
    background-size: 700% auto;
    &.ted {
      background-position: 0 -40px;
    }
    &.tiana {
      background-position: -228px -40px;
    }
    &.kathleen {
      background-position: -452px -40px;
    }
    &.kate {
      background-position: -672px -40px;
    }
    &.billie {
      background-position: -890px -40px;
    }
    &.ron {
      background-position: -5px -271px;
    }
    &.nyla {
      background-position: -227px -271px;
    }
    &.janet {
      background-position: -454px -271px;
    }
    &.pamela {
      background-position: -682px -271px;
    }
    &.michele {
      background-position: -885px -271px;
    }
    &.marc {
      background-position: -20px -524px;
    }
    &.clare {
      background-position: -230px -524px;
    }
    &.luke {
      background-position: -450px -524px;
    }
    &.phoebe {
      background-position: -669px -524px;
    }
    &.andy {
      background-position: -885px -524px;
    }
    &.lynda {
      background-position: -5px -770px;
    }
    &.ali {
      background-position: -227px -770px;
    }
    &.anthony {
      background-position: -670px -770px;
    }
    &.stephanie {
      background-position: -10px -1020px;
    }
    &.marykay {
      background-position: -228px -1020px;
    }
    &.megan {
      background-position: -450px -1020px;
    }
  }
}
