.team_content {
  padding: 0 20px;
  .thumbnail {
    background-image: url("//static.squarespace.com/static/536934b6e4b0c3ef16a97e35/t/53e28424e4b035b076bbfe82/1407353897582/portraits_2.png?format=1500w&storage=local");
  }
}
.team_headline {
  text-transform: uppercase;
  font-size: 36px;
}
.team_description {
  font-size: 14px;
  line-height: 1.3;
}
.team_intro {
  .thumbnail {
    background-size: 700% auto;
    &.ted {
      background-position: -2px -26px;
    }
    &.tiana {
      background-position: -146px -26px;
    }
    &.kathleen {
      background-position: -286px -26px;
    }
    &.kate {
      background-position: -432px -26px;
    }
    &.billie {
      background-position: -568px -26px;
    }
    &.ron {
      background-position: -5px -176px;
    }
    &.nyla {
      background-position: -147px -176px;
    }
    &.janet {
      background-position: -288px -176px;
    }
    &.pamela {
      background-position: -436px -176px;
    }
    &.michele {
      background-position: -568px -176px;
    }
    &.marc {
      background-position: -12px -332px;
    }
    &.clare {
      background-position: -146px -332px;
    }
    &.luke {
      background-position: -287px -332px;
    }
    &.phoebe {
      background-position: -430px -332px;
    }
    &.andy {
      background-position: -568px -332px;
    }
    &.lynda {
      background-position: -5px -496px;
    }
    &.ali {
      background-position: -146px -496px;
    }
    &.anthony {
      background-position: -430px -496px;
    }
    &.stephanie {
      background-position: -8px -650px;
    }
    &.marykay {
      background-position: -146px -650px;
    }
    &.megan {
      background-position: -290px -650px;
    }
  }
}
.team_bios {
  .thumbnail {
    background-size: 700% auto;
    &.ted {
      background-position: 0 -44px;
    }
    &.tiana {
      background-position: -258px -44px;
    }
    &.kathleen {
      background-position: -522px -44px;
    }
    &.kate {
      background-position: -782px -44px;
    }
    &.billie {
      background-position: -1030px -44px;
    }
    &.ron {
      background-position: -5px -321px;
    }
    &.nyla {
      background-position: -267px -321px;
    }
    &.janet {
      background-position: -524px -321px;
    }
    &.pamela {
      background-position: -792px -321px;
    }
    &.michele {
      background-position: -1030px -321px;
    }
    &.marc {
      background-position: -20px -609px;
    }
    &.clare {
      background-position: -260px -609px;
    }
    &.luke {
      background-position: -520px -609px;
    }
    &.phoebe {
      background-position: -779px -609px;
    }
    &.andy {
      background-position: -1030px -609px;
    }
    &.lynda {
      background-position: -5px -900px;
    }
    &.ali {
      background-position: -267px -900px;
    }
    &.anthony {
      background-position: -780px -900px;
    }
    &.stephanie {
      background-position: -10px -1190px;
    }
    &.marykay {
      background-position: -258px -1190px;
    }
    &.megan {
      background-position: -520px -1190px;
    }
  }
}
