.team_content {
  .thumbnail {
    background-image: url("//static.squarespace.com/static/536934b6e4b0c3ef16a97e35/t/53e28424e4b035b076bbfe82/1407353897582/portraits_2.png?format=1500w&storage=local");
  }
}
.team_intro {
  .thumbnail {
    background-size: 700% auto;
    &.ted {
      background-position: 0 -36px;
    }
    &.tiana {
      background-position: -196px -36px;
    }
    &.kathleen {
      background-position: -382px -36px;
    }
    &.kate {
      background-position: -582px -36px;
    }
    &.billie {
      background-position: -760px -36px;
    }
    &.ron {
      background-position: -5px -240px;
    }
    &.nyla {
      background-position: -197px -240px;
    }
    &.janet {
      background-position: -386px -240px;
    }
    &.pamela {
      background-position: -586px -240px;
    }
    &.michele {
      background-position: -762px -240px;
    }
    &.marc {
      background-position: -16px -452px;
    }
    &.clare {
      background-position: -194px -452px;
    }
    &.luke {
      background-position: -387px -452px;
    }
    &.phoebe {
      background-position: -579px -452px;
    }
    &.andy {
      background-position: -762px -452px;
    }
    &.lynda {
      background-position: -5px -668px;
    }
    &.ali {
      background-position: -197px -668px;
    }
    &.anthony {
      background-position: -580px -668px;
    }
    &.stephanie {
      background-position: -8px -880px;
    }
    &.marykay {
      background-position: -196px -880px;
    }
    &.megan {
      background-position: -387px -880px;
    }
  }
}
.team_bios {
  .thumbnail {
    background-size: 700% auto;
    &.ted {
      background-position: 0 -44px;
    }
    &.tiana {
      background-position: -258px -44px;
    }
    &.kathleen {
      background-position: -522px -44px;
    }
    &.kate {
      background-position: -782px -44px;
    }
    &.billie {
      background-position: -1030px -44px;
    }
    &.ron {
      background-position: -5px -321px;
    }
    &.nyla {
      background-position: -267px -321px;
    }
    &.janet {
      background-position: -524px -321px;
    }
    &.pamela {
      background-position: -792px -321px;
    }
    &.michele {
      background-position: -1030px -321px;
    }
    &.marc {
      background-position: -20px -609px;
    }
    &.clare {
      background-position: -260px -609px;
    }
    &.luke {
      background-position: -520px -609px;
    }
    &.phoebe {
      background-position: -779px -609px;
    }
    &.andy {
      background-position: -1030px -609px;
    }
    &.lynda {
      background-position: -5px -900px;
    }
    &.ali {
      background-position: -267px -900px;
    }
    &.anthony {
      background-position: -780px -900px;
    }
    &.stephanie {
      background-position: -10px -1190px;
    }
    &.marykay {
      background-position: -258px -1190px;
    }
    &.megan {
      background-position: -520px -1190px;
    }
  }
}
